* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #101010;
    color: #f0f0f0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.content-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: whitesmoke;
}

.navbar {
    width: 100%;
    padding: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    background-color: black;
}
